<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>The ACAB reset</title>
	</head>
	<body>
		<slot />

		<style is:global>
			@import '@acab/reset.css' layer(reset);
		</style>
	</body>
</html>
